<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Meu App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

  <!-- <h1>Meu primeiro app</h1>
  <ion-button href="https://google.com.br">Link
  </ion-button> -->

  <!-- Cores -->
  <!-- <h4>Cores</h4>
  <ion-button color="primary">Padrão </ion-button>
  <ion-button color="secondary">Padrão </ion-button> -->

  <!-- expandido -->

  <!-- <ion-button expand="full" color="primary">Padrão </ion-button> -->
  <!-- outline -->
  <!-- <h4>preenchimento</h4>
  <ion-button fill="outline" color="warning" expand="block">preenchimento</ion-button> -->
  <!-- icones -->
  <h4>Icones</h4>
  <ion-button>
    <ion-icon name="star"></ion-icon>
    icone
  </ion-button>

  <h4>Cartões</h4>
  <ion-card color="black" mode="ios">
    <ion-img
      src="https://images.unsplash.com/photo-1512850183-6d7990f42385?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80">
    </ion-img>
    <ion-card-content>
      <ion-card-title>
        Lorem ipsum dolor sit amet
      </ion-card-title>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia numquam nemo sit praesentium corporis magnam
        repudiandae quam asperiores? Asperiores quod doloribus accusamus possimus dicta, in obcaecati cupiditate dolorum
        est eius?</p>
    </ion-card-content>
    <ion-button expand="full" href="https://www.google.com.br/">Saiba mais</ion-button>
  </ion-card>

  <ion-card color="danger" mode="md">
    <ion-img
      src="https://images.unsplash.com/photo-1458349726531-234ad56ba80f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1181&q=80"></ion-img>
    <ion-card-header>
      <ion-card-title>
        <p>Lorem ipsum dolor sit amet</p>
      </ion-card-title>
      <ion-card-subtitle> Lorem ipsum dolor sit amet 22</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia numquam nemo sit praesentium corporis magnam
        repudiandae quam asperiores? Asperiores quod doloribus accusamus possimus dicta, in obcaecati cupiditate dolorum
        est eius?</p>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-item href="https://www.google.com.br/">
      <ion-icon slot="star" name="add"></ion-icon>
      <ion-label>
        1- Fuga corrupti earum, veritatis fugit
      </ion-label>
    </ion-item>
    <ion-item href="https://www.google.com.br/">
      <ion-label>
        2- nemo ut aliquid expedita reprehenderit
      </ion-label>
    </ion-item>
    <ion-item href="https://www.google.com.br/">
      <ion-label>
        3- possimus iste nobis voluptates
      </ion-label>
    </ion-item>
  </ion-card>
  <h4>Listas</h4>
  <ion-list>
    <ion-item>
      <ion-label>
        1. possimus iste nobis voluptates
      </ion-label>
      <ion-label>
        2. possimus iste nobis voluptates
      </ion-label>
      <ion-label>
        3.possimus iste nobis voluptates
      </ion-label>
    </ion-item>
  </ion-list>

  <h4>Listas avatar</h4>
  <ion-list>
    <ion-item>
      <ion-avatar slot="start">
        <ion-img src="https://source.unsplash.com/random/200x200">
        </ion-img>
      </ion-avatar>
      <ion-label>Julia Abreu</ion-label>
    </ion-item>
    <ion-item>
      <ion-avatar slot="start">
        <ion-img src="https://source.unsplash.com/random/200x200">
        </ion-img>
      </ion-avatar>
      <ion-label>Marcela leme</ion-label>
    </ion-item>
  </ion-list>


  <h4>Listas Slide</h4>
  <ion-list>
    <ion-item-sliding>
      <ion-item>
        <ion-label>
          Joane Alves
        </ion-label>
      </ion-item>
      <ion-item-options>
        <ion-item-option color="success">
          <ion-icon slot="start" name="create"></ion-icon>
          Alterar
        </ion-item-option>
        <ion-item-option color="danger">
          <ion-icon slot="start" name="trash"></ion-icon>
          Excluir
        </ion-item-option>
      </ion-item-options>

    </ion-item-sliding>
    <ion-item-sliding>
      <ion-item>
        <ion-label>
          jords
        </ion-label>
      </ion-item>
      <ion-item-options>
        <ion-item-option color="success">
          <ion-icon slot="start" name="create"></ion-icon>
          Alterar
        </ion-item-option>
        <ion-item-option color="danger">
          <ion-icon slot="start" name="trash"></ion-icon>
          Excluir
        </ion-item-option>
      </ion-item-options>

    </ion-item-sliding>
  </ion-list>

  <h4> Configurando entrada de dados(floating, fixed, satcked)</h4>
  <ion-item>
    <ion-label position="floating">Seu nome:</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="fixed">Seu email:</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">sua idade:</ion-label>
    <ion-input></ion-input>
  </ion-item>

  <h4>Entrada de dados(value, placeholder, clear input)</h4>
  <ion-item>
    <ion-label position="stacked">Seu time:</ion-label>
    <ion-input placeholder="Cruzeiro"></ion-input>
  </ion-item>

  <ion-item>
    <ion-input placeholder="Digite sua idade"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">sua idade:</ion-label>
    <ion-input clearInput></ion-input>
  </ion-item>

  <h4>Tipos de entradas (text,number,password, email,tel,url,search)</h4>

  <ion-item>
    <ion-label>Text</ion-label>
    <ion-input type="text"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Números</ion-label>
    <ion-input type="number"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Password</ion-label>
    <ion-input type="password"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>url</ion-label>
    <ion-input type="url"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Email</ion-label>
    <ion-input type="email"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Telefone</ion-label>
    <ion-input type="tel"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Busca</ion-label>
    <ion-input type="search"></ion-input>
  </ion-item>

  <h4>Grid</h4>
  <ion-grid>
    <ion-row>
      <ion-col size="9">Conteudo 1</ion-col>
      <ion-col size="3">Conteudo 2</ion-col>
      <ion-col>Conteudo 3</ion-col>
    </ion-row>
  </ion-grid>

  <h4>Grid - offset</h4>
  <ion-grid>
    <ion-row>
      <ion-col size="6">Conteudo 1</ion-col>
      <ion-col size="3" offset="3">Conteudo 2</ion-col>
      <ion-col>Conteudo 3</ion-col>
    </ion-row>
  </ion-grid>

  <h4>Grid - alinhamento textos</h4>
  <ion-grid>
    <ion-row>
      <ion-col size="4" class="ion-text-start">1</ion-col>
      <ion-col size="4" class="ion-text-center">2</ion-col>
      <ion-col size="4" class="ion-text-end">3</ion-col>
    </ion-row>
  </ion-grid>

  <h4>Grid - Alinhamento Vertical</h4>
  <ion-grid>
    <ion-row class="ion-align-items-start">
      <ion-col size="4">1</ion-col>
      <ion-col size="4">2</ion-col>
      <ion-col size="4">3 <br> + <br> + </ion-col>
    </ion-row>
  </ion-grid>

  <!-- Data Binding (Ligação de dados) -->
  <h4>String interpolation</h4>
  {{titulo}}
  <ion-img src="{{imagemRandomica}}"></ion-img>

  <h4>Property Biding</h4>
  <ion-img [src]="imagemRandomica"></ion-img>

  <h4>Event Biding</h4>
  <ion-item>
    <ion-label position="stacked">Seu nome:</ion-label>
    <ion-input (input)="atualiza()"></ion-input>
  </ion-item>

  <ion-button (click)="acao()">Botão</ion-button>

  <!-- Navegaçao -->
  <h1>Navegação</h1>
  <ion-button (click)="abrirBotoes()" expand="full">Botões</ion-button>
  <ion-button (click)="abrirLista()" expand="full">Lista</ion-button>
  <!--
  <h1>Modelos</h1>

  <ion-item>
    <ion-label position="stacked">Digite sua pesquisa :</ion-label>
    <ion-input [(ngmodel)]="pesquisa" type="text"></ion-input>
  </ion-item>
  <ion-button (click)="recuperar()" expand="full">Clique</ion-button>
  <br />
  {{resultado}}<br /> -->





</ion-content>